body {
    margin: 0;
}

.main_container {
    width: 500px;
    height: 700px;
    background: #8dc6fc;
    margin: 30px auto;
    display: flex;
    flex-direction: column;

}

.hight_priority {
    text-transform: uppercase;
    margin: 25px 0 15px 0;
    font-family: arial;
    /* font-family: 'Roboto'; */
    font-weight: 500;
    font-size: 25px;
    color: black;
    text-align: center;
}

input {
    width: 95%;
    height: 50px;
    margin: 0 auto;
    /* font-family: 'Roboto'; */
    font-family: arial;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-indent: 10px;
    /* ??? */
}